<!DOCTYPE html>
<html lang="en", style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "static/auth_app/style-about.css">
</head>

<body>
<header>
    <nav>
        <ul>
            {% comment %} <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Portfolio</a></li>
            <li><a href="/">Contact</a></li> {% endcomment %}
        </ul>
    </nav>
</header>
<section class="content">
    <h2> login</h2>
    <p>{{username}}</p>
    <form action = "" method = "post">
        {% csrf_token %}
        <label for = "username"> Username</label>
        <input type = "text" name = "username" id = "username" placeholder="only letter and number" required>
        <br>
        <label for = "password"> Password </label>
        <input type = "password" name = "password" id = "password" required>
        <br>

        <button type = "submit">Login</button>
    </form>
    {% if invalid_creds %}
        <p>Invalid username or password. Please try again.</p>
    {% endif %}
</section>

</body>
</html>