<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fukuda Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/auth_app/Loginstlye.css">
    </head>
    <body>
        <div class="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
            <img class="background-image" src="static/auth_app/Background.png" width="100%">
            <img class="overlay-background" src="signup background.png" width="100%">  
            <img class="overlay-image" src="blood 1.png"; width="35%">
            <img class="overlay-image" src="image 1.png"; width="15%">
            <img class="overlay-image" src="Fukada Clicker.png"; width="25%">
            <img class="overlay-login" src="login.png" width="8%">
            <h1 class="overlay-user">username</h1>
            <h1 class="overlay-password">password</h1>

            <form action = "" method = "post">
                {% csrf_token %}
                <input class="overlay-formuser" type = "text" name = "username" id = "username" placeholder="only letter and number" required>
                <input class="overlay-formpass" type = "password" name = "password" id = "password" required>
                <button class="overlay-button">Login</button>
            </form>

            {% if invalid_creds %}
                <p>Invalid username or password. Please try again.</p>
            {% endif %}

            <div class="overlay-signup">          
                <h1 >doesn't have an account? <a href="/signup">sign up here</a></h1>
            </div>
  
        </div>
        <script src="" async defer></script>
    </body>
</html>