<!DOCTYPE html>
<html lang="en", style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel = "stylesheet" href = "style-about.css"> -->
</head>

<body>
<header>
    <nav>
        <ul>
            {% comment %} <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Portfolio</a></li>
            <li><a href="/">Contact</a></li> {% endcomment %}
        </ul>
    </nav> 
</header>
<section class="content">
    <div class="item">
        <h2>Sign up</h2>
        <form action = "/signup" method = "post">
            {% csrf_token %}
            <br>
            <label for = "email"> Email</label>
            <input type = "text" name = "email" id = "email" required>
            <br>
            <label for = "username"> Username</label>
            <input type = "text" name = "username" id = "username" placeholder="only letter and number" required>
            <br>
            <label for = "password"> Password </label>
            <input type = "password" name = "password" id = "password" required>
            <br>
            {% comment %} <label for = "cpassword"> Confirm Password</label>
            <input type = "password" name = "cpassword" id = "cpassword" required>
            <br> {% endcomment %}
            <input type = "submit">sign up</input>
        </form>
        
        {% comment %} <form method = "POST" >{# trying to use form as a class in python rather than explicitly writing it in html #}
            {%csrf_token%}
            <h2> sign up 2 </h2>
            {{ form.as_p }}
            {{ form.errors }}
            {{ form.non_field_errors }}
            <input type= "submit">
        </form>  {% endcomment %}

        
    </div>
    
</section>
</body>
</html>