html, body {margin: 0; height: 100%; overflow: hidden}

.container {
    position: relative;
    text-align: center;
}

.background-image {
    width: 100%;
    /*max-width: 800px; /* Set a maximum width to control the size of the background image */
    display: block;
    margin: auto;
}

.overlay-image{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}
.overlay-login{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay-user{
    position: absolute;
    top: 39%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 170%;
    font-style: Regular;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.5px black;
}
.overlay-password{
    position: absolute;
    top: 45.1%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 170%;
    font-style: Regular;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.5px black;
}
.overlay-form{
    font-size: 25px;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 200%;
}

.input{
    font-size: 150%;
}

.overlay-button {

    border: none;
    background-color: white;
    color: black;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    border-radius: 20%;
    transition-duration: 0.4s;
}

.overlay-button:hover {

    border: none;
    background-color: black;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    border-radius: 20%;
}

.overlay-signup {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50%;
}